* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  text-align: center;
  position: relative;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  }


.header {
  margin: 0 auto;
  margin-right: 0px;
  margin-left: 0px;
  left:0px;
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 140px;
  top: 0;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Neue Bold", Icons;
  font-style: normal;
  font-weight: 700;
  color: black;
  font-size: 1.8rem;
  
}

h2 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Neue Bold", Icons;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  
}

a {
  text-decoration: none;
}

.shop {
  position: absolute;
  left: 30px;
  top: 60px  
}

.logoBlack {
  position: fixed;
  height: 80px;
  right: 860px;
  top: 20px;
}


.textRight {
  position: fixed;
  right: 30px;
  top: 60px
}

.hero {
  margin: 0 auto;
  margin-right: 0px;
  margin-left: 0px;
  left:0px;
  height: 1000px;
  width: 100vw;
  background-color: black;
}

.logoWhite {
  position: absolute;
  top: 300px;
  right: 380px;
  margin: 0;
  width: 60%;
}

.footer {
  margin: 0 auto;
  margin-right: 0px;
  color: white;
  height: 200px;
  width: 100vw;
  background-color: red;
}

.socialLinks {
  list-style: none;
  margin-left: 50px;
  display: flex;
  flex-direction: row
}
.social {
  display: inline-block;
  position: absolute;
  bottom: -175px;
  left: 40px

}
.streamLinks {
  list-style: none;
  display: flex;
  margin-left: 50px;
}
.stream {
  display: inline-block;
  right: 100px;
  position: absolute;
  left: 800px;
  bottom: 0px;
  
}

li {
  position: relative;
  right: 50px;
}

.downloadLinks {
  list-style: none;
  display: flex;
  margin-left:50px;
  
 
}
.download {
  display: inline-block;
  position: absolute;
  left: 700px;
  bottom: 0px
}